<hr>
<div id="about">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>About</h3>
            <p><span style="font-family: Satisfy">The Portfolio</span> is a simple one page Bootstrap theme for traditional artists or freelancers. A responsive grid style with hover effects and modal windows showcasing your artwork full size.</p>
        </div>
            <div class="col-md-12 col-xs-12">
                <p>This simple template is the perfect starting point. The files include HTML, CSS, and JavaScript files. <span style="font-family: Satisfy">The Portfolio</span> is free to use for personal projects.</p>
        </div>
    </div>
</div>
</div>
<hr>
