<div class="container">
  <!--About Session -->
  <!-- <% include about %> -->
    <h1 class="title" style="color:black; font-family: Courier New, monospace;">Hyunji Lee</h1>


    <div class="row">
        <div class="col-md-4 artwork">
            <a href="#imageModal1" class="portfolio-link" data-toggle="modal">
            <img src="images/sample1.jpeg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-4 artwork">
            <a href="#imageModal2" class="portfolio-link" data-toggle="modal">
            <img src="images/sample2.jpeg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-4 artwork">
            <a href="#imageModal3" class="portfolio-link" data-toggle="modal">
            <img src="images/sample3.jpeg" class="img-responsive" alt="">
            </a>
        </div>
    </div>
</div>

<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4 artwork ">
            <a href="#imageModal4" class="portfolio-link" data-toggle="modal">
            <img src="images/sample4.jpeg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-4 artwork ">
            <a href="#imageModal5" class="portfolio-link" data-toggle="modal">
            <img src="images/sample5.jpeg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-4 artwork ">
            <a href="#imageModal6" class="portfolio-link" data-toggle="modal">
            <img src="images/sample6.jpeg" class="img-responsive" alt="">
            </a>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-4 artwork ">
            <a href="#imageModal7" class="portfolio-link" data-toggle="modal">
            <img src="images/sample7.jpeg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-4 artwork ">
            <a href="#imageModal8" class="portfolio-link" data-toggle="modal">
            <img src="images/sample8.jpeg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-4 artwork ">
            <a href="#imageModal9" class="portfolio-link" data-toggle="modal">
            <img src="images/sample9.jpeg" class="img-responsive" alt="">
            </a>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-4 artwork ">
            <a href="#imageModal10" class="portfolio-link" data-toggle="modal">
            <img src="images/sample10.jpeg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-4 artwork ">
            <a href="#imageModal11" class="portfolio-link" data-toggle="modal">
            <img src="images/sample11.jpeg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-4 artwork ">
            <a href="#imageModal12" class="portfolio-link" data-toggle="modal">
            <img src="images/sample12.jpeg" class="img-responsive" alt="">
            </a>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4 artwork ">
            <a href="#imageModal13" class="portfolio-link" data-toggle="modal">
            <img src="images/sample13.jpeg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-4 artwork ">
            <a href="#imageModal14" class="portfolio-link" data-toggle="modal">
            <img src="images/sample14.jpeg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-4 artwork ">
            <a href="#imageModal15" class="portfolio-link" data-toggle="modal">
            <img src="images/sample15.jpeg" class="img-responsive" alt="">
            </a>
        </div>
    </div>
</div>
