<div class="modal fade" id="imageModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">해초의마음</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample1.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">주방에서</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample2.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">정글토끼</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample3.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">등산하기</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample4.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">반신욕</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample5.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">보금자리</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample6.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">신발장바다</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample7.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">너도 나도</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample8.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">우리모두</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample9.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">왜 그랬어</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample10.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">나비의 꿈</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample11.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
<div class="modal fade" id="imageModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">겨울소풍</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample12.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>

<div class="modal fade" id="imageModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">정글토끼2</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample13.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>

<div class="modal fade" id="imageModal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">뱃놀이</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample14.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>


<div class="modal fade" id="imageModal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">어디로</h4>
        </div>
        <div class="modal-body">
            <img src="images/sample15.jpeg" class="img-responsive img-centered" alt="">
        </div>
        <div class="modal-footer">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
	</button>
	</div>
    </div>
    </div>
</div>
